table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tab td, #tab th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input[type=text], select {
    width: 30%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #dfe6e9;
    color: black;
    padding: 10px 16px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}